# GRUB configuration for booting the NebulaOS x86 operating system.
# Copyright (C) 2026 NebulaJapanese-1221 <nebulajapanese@gmail.com>
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program. If not, see <https://www.gnu.org/licenses/>.
# See LICENCE for the full license text.

set timeout=10
set default=0

insmod all_video
insmod gfxterm
set gfxmode=800x600x32,640x480x32,auto
terminal_output gfxterm
set gfxpayload=keep

menuentry "NebulaOS" {
    set gfxpayload=keep
    multiboot /boot/kernel.elf
    boot
}
